name: "resuable deploy"
description: "create Bicep Template deployment"

on:
  workflow_call:
    inputs:
      templatePath:
        description: "templatePath"
        required: true
        type: string
      templateParameterPath:
        description: "templateParameterPath"
        required: false
        type: string
        
      subscriptionId:
        default : "0e001777-3a95-4bc2-a44e-5d1560e0d56b"
        type: string
        required: false
      resourceGroupName:
        description: "resourceGroupName"
        required: false
        type: string
      scope:
        description: "The scope of the deployment: subscription, resourceGroup. Default: resourceGroup"
        default: "resourceGroup"
        required: false
        type: string

      deploymentName:
        required: false
        type: string
        default: "tst"

      parameters:
        description: "Inline parameters for the deployment."
        required: false
        type: string

      environment:
        required: false
        type: string
        default: "tst"

      runWhatIf:
        description: "Set to true to run WhatIf after validation"
        required: false
        default: true
        type: boolean
    
    
jobs:
  deploy:
    runs-on: windows-latest
    environment: 'tst' # ${{ inputs.environment }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Debug inputs
      shell: pwsh
      run: |
        Write-Host "environment  : ${{ inputs.environment }}"
        Write-Host "subscription : ${{ inputs.subscriptionId }}"
        Write-Host "scope        : ${{ inputs.scope }}"
        Write-Host "resourceGroupName: ${{ inputs.resourceGroupName }}"
        Write-Host "templateFilev: ${{ inputs.templatePath }}"
        Write-Host "templateparam: ${{ inputs.templateParameterPath }}"
     
    - name: Azure Login
      uses: azure/login@v2
      with:
       creds: ${{ secrets.CREDENTIALS }}
       enable-AzPSSession: true


    - name: Validate bicep template
      uses: azure/bicep-deploy@v2
      with:
        type: deployment
        operation: validate
        name:  ${{ inputs.deploymentName != '' && inputs.deploymentName || format('gh-{0}-{1}', github.event.repository.name, github.run_number) }} # should be max 64 charseploy && github.event.repository.name, github.run_number) }} 
        scope: ${{ inputs.scope }}
        subscription-id: ${{ inputs.subscriptionId }}
        resource-group-name: ${{ inputs.resourceGroupName }}
        template-file: ${{ inputs.templatePath }}
        parameters-file: ${{ inputs.templateParameterPath }}

    - name: whatif bicep template
      uses: azure/bicep-deploy@v2
      if: ${{ inputs.runWhatIf }}
      with:
        type: deployment
        operation: whatIf
        name:  ${{ inputs.deploymentName != '' && inputs.deploymentName || format('gh-{0}-{1}', github.event.repository.name, github.run_number) }} # should be max 64 charseploy && github.event.repository.name, github.run_number) }} 
        scope: ${{ inputs.scope }}
        subscription-id: ${{ inputs.subscriptionId }}
        resource-group-name: ${{ inputs.resourceGroupName }}
        template-file: ${{ inputs.templatePath }}
        parameters-file: ${{ inputs.templateParameterPath }}
