name: "deploy-bicep-template"
# description: "create bicep template deployment - validate and deploy."

on:
  workflow_call:
    inputs:
      templatePath:
        description: "templatePath"
        required: true
        type: string
      templateParameterPath:
        description: "templateParameterPath"
        required: false
        type: string
      subscriptionId:
        description: "subscriptionId"
        required: false
        type: string
      resourceGroupName:
        description: "resourceGroupName"
        required: false
        type: string
      scope:
        description: "The scope of the deployment: tenant, managementGroup, subscription, resourceGroup. Default: resourceGroup"
        default: "resourceGroup"
        required: false
        type: string
      deploymentName:
        description: "The name of the deployment."
        required: false
        type: string
      managementGroupId:
        description: "The management group ID for the deployment. required for scope 'managementGroup'"
        required: false
        type: string
      
      tenantId:
        description: "The tenant ID for the deployment. required for scope 'tenant'"
        required: false
        type: string

      location:
        description: "DONT USE FOR ResourceGroup deployment. Specifies the location of the deployment or deploymentStack. Must be provided if the 'scope' parameter is 'subscription', 'managementGroup' or 'tenant'."
        required: false
        type: string
      parameters:
        description: "Specifies the inline parameters to override (as json object)."
        required: false
        type: string
      validationLevel:
        description: "Specifies the validation level. Only supported for deployment what-if and validate operations. Choose from 'provider', 'template', or 'providerNoRbac'."
        required: false 
        default: "provider"
        type: string 

      runnerPool:
        description: "GitHub Pool for the workflow"
        required: false
        type: string
        default: windows-2025
      environment:
        description: "GitHub Environment for the workflow"
        required: false
        type: string

      runWhatIf:
        description: "Set to true to run WhatIf after validation"
        required: false
        default: true
        type: boolean

      runDeploy:
        description: "Set to true to run deployment after validation. Default: true"
        required: false
        default: true
        type: boolean

    secrets:
      AZURE_CLIENT_ID:
        required: true
        description: "Azure Client ID"
      AZURE_TENANT_ID:
        required: true
        description: "Azure Tenant ID"
      AZURE_SUBSCRIPTION_ID:
        required: false
        description: "Azure Subscription ID"

jobs:
  validateJob:
    name: 'validate - ${{ inputs.environment }}'
    runs-on: ${{ inputs.runnerPool }}
    environment: ${{ inputs.environment }}
    steps:

    - name: Checkout repo
      uses: actions/checkout@v5

    - name: validateBicepTemplate_action
      uses: validate-bicep-template@main
      with:
        templatePath: ${{ inputs.templatePath }}
        templateParameterPath: ${{ inputs.templateParameterPath }}
        #subscriptionId: ${{ inputs.subscriptionId }}
        # defaulting to secrets.AZURE_SUBSCRIPTION_ID if inputs.subscriptionId is empty and scope is 'resourceGroup'
        subscriptionId: ${{ (inputs.subscriptionId == '' && secrets.AZURE_SUBSCRIPTION_ID != '' && inputs.scope == 'resourceGroup' ) && secrets.AZURE_SUBSCRIPTION_ID || inputs.subscriptionId }}
        # resourceGroupName: ${{ inputs.resourceGroupName }}
        # defaulting to vars.AZURE_RESOURCE_GROUP if inputs.resourceGroupName is empty and scope is 'resourceGroup'
        resourceGroupName: ${{ (inputs.resourceGroupName  == '' && inputs.scope == 'resourceGroup' && vars.AZURE_RESOURCE_GROUP != '') && vars.AZURE_RESOURCE_GROUP || inputs.resourceGroupName }}
        scope: ${{ inputs.scope }}
        deploymentName: ${{ inputs.deploymentName }}
        managementGroupId: ${{ inputs.managementGroupId }}
        tenantId: ${{ (inputs.tenantId  == '' && inputs.scope == 'tenant' && secrets.AZURE_TENANT_ID != '') && secrets.AZURE_TENANT_ID || inputs.tenantId }} # only required for scope 'tenant'
        location: ${{ inputs.location }}
        parameters: ${{ inputs.parameters }}
        validationLevel: ${{ inputs.validationLevel }}
        AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        runWhatIf: ${{ inputs.runWhatIf && 'true' || 'false' }} # converting boolean to string since composite actions only support string inputs


  deployJob:
    name: 'deploy - ${{ inputs.environment }}'
    runs-on: ${{ inputs.runnerPool }}
    environment: ${{ inputs.environment }}
    needs: validateJob
    if: ${{ inputs.runDeploy == true }}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v5
    - name: deployBicepTemplate_action
      uses: deploy-bicep-template@main
      with:
        templatePath: ${{ inputs.templatePath }}
        templateParameterPath: ${{ inputs.templateParameterPath }}
        #subscriptionId: ${{ inputs.subscriptionId }}
        # defaulting to secrets.AZURE_SUBSCRIPTION_ID if inputs.subscriptionId is empty and scope is 'resourceGroup'
        subscriptionId: ${{ (inputs.subscriptionId == '' && secrets.AZURE_SUBSCRIPTION_ID != '' && inputs.scope == 'resourceGroup' ) && secrets.AZURE_SUBSCRIPTION_ID || inputs.subscriptionId }}
        # resourceGroupName: ${{ inputs.resourceGroupName }}
        # defaulting to vars.AZURE_RESOURCE_GROUP if inputs.resourceGroupName is empty and scope is 'resourceGroup'
        resourceGroupName: ${{ (inputs.resourceGroupName  == '' && inputs.scope == 'resourceGroup' && vars.AZURE_RESOURCE_GROUP != '') && vars.AZURE_RESOURCE_GROUP || inputs.resourceGroupName }}
        scope: ${{ inputs.scope }}
        deploymentName: ${{ inputs.deploymentName }}
        managementGroupId: ${{ inputs.managementGroupId }}
        tenantId: ${{ (inputs.tenantId  == '' && inputs.scope == 'tenant' && secrets.AZURE_TENANT_ID != '') && secrets.AZURE_TENANT_ID || inputs.tenantId }} # only required for scope 'tenant'
        location: ${{ inputs.location }}
        parameters: ${{ inputs.parameters }}
        # validationLevel: ${{ inputs.validationLevel }} # N/A for deploy aka. 'create operation'
        AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
